<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Seed List</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/JavaScript">
    function timeRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);", timeoutPeriod);
    }
 </script>

<script>
  function myFunction() {
    var x = document.getElementsByClassName("example");
    x[1].innerHTML = "Hello World!";
  }
</script>

<style>
  body {
      margin:0;
      padding:0;
      background: rgb(255, 255, 255) url(https://i.imgur.com/7PQbbEm.png) center center fixed no-repeat;
      -moz-background-size: cover;
      background-size: cover;
  }
  </style>
</head>
<body onLoad="JavaScript:timeRefresh(10000);">

  <div class="container" >
    <h1>Seeds</h1>
    <div id="table">
      {% for seed in seeds %}
      <!--script>
        var color = "#FFD382"; 
            var element = document.getElementByClass(titlecolor); 

            for (i=0;i< element.length;i++) { 

            if(element[i]. = 'right') { 
              element[i].style.background = color; 
            } 
            else { 
            } 

            } 
      </script-->

        <div id="seedSection{{ seeds.id }}" class="panel panel-default">
          <div id = titlecolor class="panel-heading"  >
            <h3 class="panel-title">
              SeedID : <span id="seedID{{ seed.id }}">{{ seed.seedID }}</span>
              , 
              Seed Status : <span id="seedStatus{{ seed.id }}">{{ seed.status }}</span> 
            </h3>
            
          </div>

          <div class="panel-body"> 
            
            <h4 class="panel-title">X : <span id="seedX{{ seed.id }}">{{ seed.x }}</span> </h4>
            <h4 class="panel-title">Y : <span id="seedY{{ seed.id }}">{{ seed.y }}</span> </h4>
            <h4 class="panel-title">Z : <span id="seedZ{{ seed.id }}">{{ seed.z }}</span> </h4>
            <h4 class="panel-title">Battery : <span id="seedBattery{{ seed.id }}">{{ seed.battery }}</span> </h4>
          </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='SeedUpdate.js') }}"></script>
</body>
</html>