<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Seed List</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/JavaScript">
    function timeRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);", timeoutPeriod);
    }
</script>
<style>
  body {
      margin:0;
      padding:0;
      background: rgb(255, 255, 255) url(https://i.imgur.com/7PQbbEm.png) center center fixed no-repeat;
      -moz-background-size: cover;
      background-size: cover;
  }
  </style>
</head>
<body onLoad="JavaScript:timeRefresh(10000);">

  <div class="container" >
    <div id="table">
      {% for seed in seeds %}

        <div id="seedSection{{ seeds.id }}" class="panel panel-default">
		{% if seed.status == 1 %}
          <div class="panel-heading" style="background-color:#FFD382">
			{% else %}
			<div class="panel-heading">
			{% endif %}
			<h3 class="panel-title"></h3>
              SeedID : <span id="seedID{{ seed.id }}">{{ seed.seedID }}</span>
              , 
			  Seed Status : <span id="seedStatus{{ seed.id }}">{{ seed.status }}</span> 
			  
            </h3>
            
          </div>

          <div class="panel-body"> 
            
            <h4 class="panel-title">X : <span id="seedX{{ seed.id }}">{{ seed.x }}</span> </h4>
            <h4 class="panel-title">Y : <span id="seedY{{ seed.id }}">{{ seed.y }}</span> </h4>
            <h4 class="panel-title">Z : <span id="seedZ{{ seed.id }}">{{ seed.z }}</span> </h4>
            <h4 class="panel-title">Battery : <span id="seedBattery{{ seed.id }}">{{ seed.battery }}</span> </h4>
          </div>
      </div>

      {% endfor %}
    </div>
  </div>
</body>
</html>